# Logs
logs
*.log
npm-debug.log*

# IDE
.idea
*.iml

# Coverage directory used by tools like istanbul
coverage

# nyc folder for reporting coverage
.nyc_output

# Dependency directory
node_modules

# .env
.env
